# ignore the ".env" enviroment file
app/.env

# ignore the log files, the bot makes them
/log/*

# ignore node modules. if you're looking for them, use your favorite package manager to install them.
app/node_modules/*
